html, body, #root, .App, .panel{
  height: 100%
}

.App {
    display: flex;
    flex-flow: column;
}

.panel-wrapper {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  align-items: stretch;
  flex-grow: 1;
}
nav {
  vertical-align: center;
}

.button-wrapper {
  height: 100%;
  vertical-align: middle;
  float: right;
}

#wallet {

}

#logo {

}

.hide {
  display:none; 
}

.panel {
  border: 2px solid black;
  padding: 20px;
}

.left-panel {
  flex-grow: 1;
}

.middle-panel {
  flex-grow: 3;
}

.right-panel {
  flex-grow: 2;
}
